<div class="register_wrapper">
    <div class="register_box animated fadeIn">
        <h3>Member Registration</h3>
        <hr>
        <form action="">
            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Full Name</label>
            </div>
            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
            </div>
            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Username</label>
            </div>
            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Password</label>
            </div>
            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Repeat Password</label>
            </div>
            <div class="group">
                <button>Register</button>
            </div>
        </form>
    </div>
</div>